.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 744px;
    
    padding: 32px 80px 32px 80px;
}

.right_side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.right_side a {
    text-decoration: none; 
    color: inherit; 
}

.left_side{
    font-family: 'Courier New';
    font-size: 32px;
    font-weight: 700;
}

.left_side a {
    text-decoration: none; 
    color: inherit; 
}