.container_exp {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 80px 80px 160px 80px;
}

.first {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.MainD {
    font-family: 'Courier New';
    font-weight: 700;
    font-size: 60px;
}

.div_his {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 48px;
}

.date_d {
    font-family: 'Courier New';
    font-weight: 700;
    font-size: 14px;
    width: 143px;
}

.about_work {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    width: 467px;
}

.city {
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
}

.companyName {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
}

.cityComp {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nameAndImg {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about_d {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
